body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    background-color: #f0f0f0; 
}

.header {
    background-color: #e0e0e0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    text-align: center;
    height: 80px;
}

.header input {
    background: #35343421;
    height: 90%;
    border: none;
    width: 90%;
}

.body {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 70px;
    height: 70px;
}

.passive {
    pointer-events: none;
}

button:hover {
    background-color: #c0c0c0;
}

